 /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
		html {
			font-size: 2em; 
			position: relative;
			min-height: 100%;
		}
	
		body {
			background-color: #eee;
			margin-bottom: 30px; /* Margin bottom by footer height */
		}
		
		/* Panel styles
		-------------------------------------------------- */
		 .panel-body  {
			word-break:break-all;
		}

		.fixed-panel {
		  min-height: 600px;
		  max-height: 600px;
		  overflow-y: scroll;
		}
		
		/* Form styles
		----------------------------------------- */
		.form-signin {
			padding: 0;
			margin: 0 auto;
		}
		.form-signin .form-signin-heading, .form-signin .checkbox {
			margin-bottom: 0;
		}
		.form-signin .checkbox {
			font-weight: 400;
		}
		.form-signin .form-control {
			position: relative;
			box-sizing: border-box;
			height: auto;
			padding: 10px;
			font-size: 2em;
		}
		.form-signin .form-control:focus {
			z-index: 2;
		}
		.form-signin input[type="text"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.form-signin input[type="password"] {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
		
		.footer {
		  position: fixed;
		  bottom: 0;
		  width: 100%;
		  height: 30px; /* Set the fixed height of the footer here */
		  line-height: 30px; /* Vertically center the text there */
		  background-color: #286090;
		  color: #fff;
		}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		body {
			padding-top: 40px;
			padding-bottom: 40px;
			background-color: #eee;
		}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		/* Form styles
		-------------------------------------------------- */
		.form-signin {
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
		}
		.form-signin .form-signin-heading, .form-signin .checkbox {
			margin-bottom: 10px;
		}
		.form-signin .checkbox {
			font-weight: 400;
		}
		.form-signin .form-control {
			position: relative;
			box-sizing: border-box;
			height: auto;
			padding: 10px;
			font-size: 16px;
		}
		.form-signin .form-control:focus {
			z-index: 2;
		}
		.form-signin input[type="text"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.form-signin input[type="password"] {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }